body{
    background-color: #ffffff;
    margin: 0px;
}
#banner{
    display: block;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 200px;
}
#content{
    padding: 20px;
}
p.ad_content{
    font-size: 18pt;
}
.khungsp
{
    width: 250px;
    height: 260px;	
    background-color: aqua;
    text-align: center;
    float: left;
    margin: 20px;
}

/* .card {
    width: 234px;
    height: 200px;
    margin: 8px;
    padding: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
	border: 1px solid red;
	float: left;
} */

