body{
    background-color: #ffffff;
    margin: 0px;
}
#banner{
    display: block;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 200px;
}
#content{
    padding: 20px;
}
p.ad_content{
    font-size: 18pt;
}
.khungsp
{
    width: 250px;
    height: 350px;	
    float: left;
    margin-left: 50px;
    margin-top: 40px;
}

.card {
    width: 250px;
    height: 350px;
    margin: 8px;
    padding: auto;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
	border: 1px solid #696969;
	float: left; 
    margin-bottom: 10px;
}
.hinhsp{
    height: 200px;
    margin-bottom: 10px;
}
p.giaban{
    font-size: 15pt;
    color: #212121;
}

table{
    text-align: center;
    border: solid;
    width: 1000px;
}

/* td{
    padding: 5px;
    border: solid rgb(120, 108, 91);
} */

footer{
    margin: 50px;
    clear: both;
}

.ThongBao{
    color: #20d462;
    background-color: #bafcd2;
}
.ThongBaoLoi{
    color: #f32727;
    background-color: #ffadad;
}

