body{
    background-color: #ffffff;
    margin: 0px;
}
#banner{
    display: block;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 200px;
}
#content{
    padding: 20px;
    margin-left: 100px;
}
p.ad_content{
    font-size: 18pt;
}
.khungsp
{
    width: 250px;
    height: 260px;	
    float: left;
    margin: 20px;
    
}

.card {
    width: 234px;
    height: 300px;
    margin: 8px;
    padding: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
	border: 1px solid red;
	float: left; 
}

table{
    margin-left: 300px;
    text-align: center;
    border: solid black;
}   

td{
    padding: 5px;
    border: solid rgb(120, 108, 91);
}


footer{
    margin: 50px;
    clear: both;
}

