body{
    background-color: #ffffff;
    margin: 0px;
}
#banner{
    display: block;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 200px;
}